<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Project Submission</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body oninput="enableSubmitButton()">
        <div class="left-container">
            <!-- Section 1: Project Details -->
            <div class="form-section">
                <div class="wrapper">
                    <div class="btn close-btn"></div>
                    <div class="btn min-btn"></div>
                    <div class="btn max-btn"></div>
                </div>
                <h2>Project Details</h2>
                <form id="project-form" method="POST" enctype="multipart/form-data">
                    <div class="proj-desc-section">
                        <div class="input-group">
                            <label for="project-details">Description</label>
                            <textarea id="project-details" name="project_details" class="required" rows="4" placeholder="Enter project description" style=""></textarea>
                        </div>
                    </div>
                    <div class="proj-links-section">
                        <div class="input-group">
                            <label for="youtube-link">YouTube Link</label>
                            <input type="url" id="youtube-link" name="youtube_link" placeholder="Enter YouTube link" />
                        </div>
                        <div class="input-group">
                            <label for="github-link">GitHub Link</label>
                            <input type="url" id="github-link" name="github_link" placeholder="Enter GitHub link" />
                        </div>
                        <div class="input-group">
                            <label for="blog-link">Blog Link</label>
                            <input type="url" id="blog-link" name="blog_link" placeholder="Enter Blog link" />
                        </div>
                    </div>
                </form>
            </div>

            <!-- Section 2: File Uploads -->
            <div class="form-section">
                <h2>File Uploads</h2>

                <!-- Screenshots Section -->
                <h3>Screenshots</h3>
                <div class="screenshots-container" id="screenshots-container">
                    <!-- Screenshot Cards -->
                    <div class="upload-button">
                        <input type="file" name="screenshots" accept="image/*" multiple onchange="handleFileUploads(event)" />
                    </div>
                </div>

                <!-- Architecture Diagram Section -->
                <h3>Architecture Diagram</h3>
                <div class="architecture-container" id="architecture-container">
                    <div class="card" data-file-name="">
                        <div class="card-left">
                            <div class="image-preview" style="display: none">
                                <img src="" alt="Uploaded Architecture Diagram" onclick="showImagePreview(this)" />
                            </div>
                            <button class="regenerate-button" onclick="regenerateImageThumbnail('', this)">🔄</button>
                            <button class="download-button" onclick="downloadImage('')">⬇️</button>
                            <div class="upload-button">
                                <input type="file" name="architecture_image" accept="image/*" onchange="handleFileUploadArchitecture(event)" />
                            </div>
                        </div>
                        <div class="card-right">
                            <textarea name="architecture_desc" rows="3" placeholder="Describe the architecture diagram"></textarea>
                        </div>
                    </div>
                    <button class="plus-icon" onclick="addArchitectureUploader()">+</button>
                </div>
            </div>

            <!-- Modal for Full-Screen Preview -->
            <div id="image-modal" class="image-modal" onclick="closeImagePreview(event)">
                <span class="image-close-btn" onclick="closeImagePreview(event)">&times;</span>
                <img class="modal-content" id="modal-image" />
            </div>
            <!-- Submit Button -->
            <div class="button-container">
                <button id="submit-button" onclick="submitProject(event)" disabled="">Submit Project</button>
            </div>
        </div>
        <div class="right-container">
            <!-- Section 3: Generated Outputs -->
            <div class="form-section">
                <h2>Generated Outputs</h2>
                <div class="output-group">
                    <div class="section-header">
                        <input type="checkbox" id="checkbox-youtube-script" />
                        <h3>YouTube Video Script</h3>
                        <label for="checkbox-youtube-script"></label>
                        <button class="copy-btn" onclick="copyToClipboard('youtube-script-output', this)">Copy</button>
                        <button class="toggle-btn" onclick="toggleVisibility('youtube-script-output')">Hide/Show</button>
                    </div>
                    <div id="youtube-script-output" class="output-box"></div>
                </div>
                <div class="output-group">
                    <div class="section-header">
                        <input type="checkbox" id="checkbox-youtube-description" />
                        <h3>YouTube Video Description</h3>
                        <label for="checkbox-youtube-description"></label>
                        <button class="copy-btn" onclick="copyToClipboard('youtube-description-output', this)">Copy</button>
                        <button class="toggle-btn" onclick="toggleVisibility('youtube-description-output')">Hide/Show</button>
                    </div>

                    <div id="youtube-description-output" class="output-box"></div>
                </div>
                <div class="output-group">
                    <div class="section-header">
                        <input type="checkbox" id="checkbox-readme" />
                        <h3>README File</h3>
                        <label for="checkbox-readme"></label>
                        <button class="copy-btn" onclick="copyToClipboard('readme-output', this)">Copy</button>
                        <button class="toggle-btn" onclick="toggleVisibility('readme-output')">Hide/Show</button>
                    </div>

                    <div id="readme-output" class="output-box"></div>
                </div>
                <!--  -->
                <div class="output-group">
                    <div class="section-header">
                        <input type="checkbox" id="checkbox-demo-video" />
                        <h3>Demo Video</h3>
                        <label for="checkbox-demo-video"></label>
                        <button class="copy-btn" onclick="copyToClipboard('demo-video-output', this)">Copy</button>
                        <button class="toggle-btn" onclick="toggleVisibility('demo-video-output')">Hide/Show</button>
                    </div>

                    <div id="demo-video-output" class="output-box"></div>
                </div>
                <!--  -->
                <div class="output-group">
                    <div class="section-header">
                        <input type="checkbox" id="checkbox-overview" />
                        <h3>Blog Part 1</h3>
                        <label for="checkbox-overview"></label>
                        <button class="copy-btn" onclick="copyToClipboard('overview-output', this)">Copy</button>
                        <button class="toggle-btn" onclick="toggleVisibility('overview-output')">Hide/Show</button>
                    </div>

                    <div id="overview-output" class="output-box"></div>
                </div>
                <div class="output-group">
                    <div class="section-header">
                        <input type="checkbox" id="checkbox-demo" />
                        <h3>Blog Part 2</h3>
                        <label for="checkbox-demo"></label>
                        <button class="copy-btn" onclick="copyToClipboard('demo-output', this)">Copy</button>
                        <button class="toggle-btn" onclick="toggleVisibility('demo-output')">Hide/Show</button>
                    </div>

                    <div id="demo-output" class="output-box"></div>
                </div>
                <div class="output-group">
                    <div class="section-header">
                        <input type="checkbox" id="checkbox-architecture" />
                        <h3>Architecture Details</h3>
                        <label for="checkbox-architecture"></label>
                        <button class="copy-btn" onclick="copyToClipboard('architecture-output', this)">Copy</button>
                        <button class="toggle-btn" onclick="toggleVisibility('architecture-output')">Hide/Show</button>
                    </div>

                    <div id="architecture-output" class="output-box"></div>
                </div>
            </div>
        </div>
        <script src="/static/js/Scripts.Js"></script>
    </body>
</html>
